<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>{{ site.title }}</title>

    <link rel="stylesheet"
          href="{{ '/assets/css/style.css' | relative_url }}">
</head>

<body>

<header class="navbar">
    ...
</header>

<main>

    <section id="home">
        ...
    </section>

    <section id="about">
        ...
    </section>

    <section id="projects">
        ...
    </section>

    <section id="skills">
        ...
    </section>

    <section id="experience">
        ...
    </section>

    <section id="research">
        ...
    </section>

    <section id="contact">
        ...
    </section>

</main>

<footer>
    ...
</footer>

</body>
</html>
